name: Python Selenium Automation

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2.1.5
      with:
        node-version: 16

    - name: Set up Python
      uses: actions/setup-python@v2.2.2
      with:
        python-version: 3.x

    - name: Download ChromeDriver
      run: |
        CHROME_DRIVER_VERSION=$(google-chrome --version | awk -F ' ' '{print $3}' | awk -F '.' '{print $1}')
        wget -N https://chromedriver.storage.googleapis.com/${CHROME_DRIVER_VERSION}/chromedriver_linux64.zip
        unzip chromedriver_linux64.zip
        chmod +x chromedriver
        sudo mv chromedriver /usr/local/bin/

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Run tests
      run: xvfb-run --auto-servernum --server-args="-screen 0 1024x768x24" pytest --html=report.html
